.blog{
    color: black;
    background-color: white;
    margin: auto;
    height: 100%;
    width: 80%;
    border-radius: 1rem;
    margin: 5%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
.blog-div{
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.blog:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.linker{
    text-decoration: none;
}

img{
    width: 10%;
    height: 10%;
}